@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
* {
    font-family: 'Lora', serif;
    box-sizing: border-box;
}

header {
    text-align: center;
}

main {
    height: 80vh;
}

body {
    text-align: center;
}

fieldset {
    padding: 20px;
}

@media (max-width: 750px) {
    #Title{
        display: block;
        margin-bottom: 10px;
    }
    #Year{
        margin-bottom: 10px;
        display: block;
    }
    #Plot{
        display: block;
        margin-bottom: 10px;
    }
    label {
        display: block;
        margin-bottom: 5px;
        text-align: left;
    }
    #submit {
        margin-top: 5px;
    }
}



#movieSearch {
    display: inline-block;
    text-align: center;
    margin: auto;
}

#movieResults {
    margin-top: 50px;
    display: flex;
}

#imageBox {
    flex-basis: 50%;
    text-align: right;
    padding-right: 20px;
}

#textBox {
    flex-basis: 50%;
    text-align: left;
    padding-right: 200px;
}

#Title {
    margin-right: 10px;
}

#Year {
    margin-right: 10px;
}

#Plot {
    margin-right: 10px;
}